.About {
  text-align: center;
}

.About-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.about-content h2 {
  color: #007bff;
  margin-top: 30px;
  font-size: 1.1rem;
  font-style: italic;
}

.about-content p {
  line-height: 1.6;
  font-size: 0.9rem;
}

